<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BunBon</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/src/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      var publicStripeKey = "<%=publicStripeKey%>";
    </script>
  </head>
  <body style="overflow-x: auto">
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand icon-nav" href="<%= route('home')%>">
          <img
            src="/src/SVG/bunbon-logo-icon-nav.svg"
            alt="Logo"
            width="40"
            height="40"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          id="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" id="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                class="nav-link active nav-direcciones"
                aria-current="page"
                href="<%= route('about')%>"
                ><span class="chocolate-text">Qué somos</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active nav-direcciones"
                aria-current="page"
                href="<%= route('contact')%>"
                ><span class="chocolate-text">Contáctanos</span></a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle nav-direcciones"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><span class="chocolate-text">Tiendas</span>
              </a>
              <ul
                class="dropdown-menu custom-dropdown-menu"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a
                    class="dropdown-item nav-sub-direcciones"
                    href="<%= route('physicalStores')%>"
                    ><span class="chocolate-text">Físicas</span></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item nav-sub-direcciones"
                    href="<%= route('onlineStores')%>"
                    ><span class="chocolate-text">Online</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <button
            class="btn btn-primary custom-button-pedido px-4 ms-auto"
            id="custom-button-pedido"
            onclick="window.location.href='/orders'"
          >
            <img
              src="/src/SVG/pedido-icon.svg"
              alt="Buscar"
              width="25"
              height="25"
              class="me-2 pedido-icon"
            />
            Haz tu pedido
          </button>
        </div>
      </div>
    </nav>
    <section class="orders-section vh-100" style="overflow-x: hidden">
      <div class="row" style="height: 100% !important">
        <div
          class="col-lg-8 d-flex justify-content-center align-items-center bg-fondo"
        >
          <div class="olas5"></div>
          <div class="olas5-responsive"></div>
          <div class="displayer-pedido">
            <div
              style="position: relative; width: 500px; height: 500px"
              class="contenedor-pedido-imagenes"
            >
              <img
                id="decoracion tartas"
                src=""
                width="500"
                height="500"
                alt="decoracion tarta"
                style="position: absolute; z-index: 7; top: 0; left: 0"
              />
              <img
                id="bordes tartas"
                src=""
                width="500"
                height="500"
                alt="bordes tartas"
                style="position: absolute; z-index: 6; top: 0; left: 0"
              />
              <img
                id="encima tartas"
                src=""
                width="500"
                height="500"
                alt="encima tartas"
                style="position: absolute; z-index: 5; top: 0; left: 0"
              />
              <img
                id="relleno tartas"
                src=""
                width="500"
                height="500"
                alt="relleno tartas"
                style="position: absolute; z-index: 4; top: 0; left: 0"
              />
              <img
                id="decoracion muffins"
                src=""
                width="500"
                height="500"
                alt="decoracion muffin"
                style="position: absolute; z-index: 3; top: 0; left: 0"
              />
              <img
                id="base tartas"
                src=""
                width="500"
                height="500"
                alt="base"
                style="position: absolute; z-index: 2; top: 0; left: 0"
              />
              <img
                id="base muffins"
                src=""
                width="500"
                height="500"
                alt="base"
                style="position: absolute; z-index: 2; top: 0; left: 0"
              />
              <img
                id="relleno muffins"
                src=""
                width="500"
                height="500"
                alt="relleno muffins"
                style="position: absolute; z-index: 1; top: 0; left: 0"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-gestor">
          <div class="row">
            <h1 class="col-lg-6">Haz tu pedido</h1>
            <div class="col-lg-6 d-flex justify-content-end pe-5">
              <img
                id="iconoTienda"
                src="/src/SVG/tienda-icon.svg"
                alt=""
                width="50"
                height="50"
              />
              <div style="position: relative">
                <div class="orders-cesta" id="displayTiendaProductos">
                  <div class="cesta-contenedor">
                    <!-- <div class="cesta-elemento">
                      <div class="cesta-elemento-div1">
                        <p class="titulo-elemento">
                          <span class="white-text">Tarta 1</span>
                        </p>
                      </div>
                      <div class="cesta-elemento-div2">
                        <a href=""></a>
                        <a href="">Eliminar</a>
                      </div>
                    </div> -->
                  </div>
                  <div class="comprar-boton" style="height: 20%">
                    <div class="comprar-boton-1">
                      <p class="precio-total">
                        Total: $<span id="precio"></span>
                      </p>
                    </div>
                    <div class="comprar-boton-2">
                      <button
                        class="mt-3 btn btn-primary boton-order custom-button-pedido no-margin-left disabled"
                        id="buyButton"
                        disabled
                      >
                        Comprar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 order-type" id="orderType">
            <button class="boton-order-type actual-boton-type" id="tartas">
              Tarta
            </button>
            <button class="boton-order-type" id="muffins">Muffin</button>
          </div>
          <div class="mt-3 order-properties-selector">
            <!-- <img src="" alt="" width="30" height="30" /> -->
          </div>
          <div class="mt-3 order-properties-container">
            <div
              class="columnas-order"
              id="columnasOrder"
              style="overflow: auto"
            >
              <!-- <div
                class="order-property"
                style="background-color: rebeccapurple"
              >
                <div class="show-property"></div>
              </div> -->
            </div>
          </div>
          <div class="mt-5 d-flex justify-content-center">
            <button
              class="mb-5 btn btn-primary boton-order custom-button-pedido no-margin-left"
              id="botonAgregar"
            >
              <span class="white-text">+ Agregar</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- MODAL -->
    <div
      class="modal fade"
      id="propertyModal"
      tabindex="-1"
      aria-labelledby="propertyModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="propertyModalLabel">Property Name</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Aquí se mostrará el nombre de la propiedad -->
            <p id="propertyModalContent"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- STRIPE -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SCRIPTS PROPIOS -->
    <script src="/js/DOM.js"></script>
  </body>
</html>
